html * {
	box-sizing: border-box;
	font-family: "Raleway", "Quicksand", helvetica, sans-serif;
}

body {
	background-color: #fbfbfc;
}

.meal {
	margin-top: 100px;
  margin-left: 100px;
  display: block;
  width: 100px;
  height: 100px;
  text-decoration: none;
  color: white;
  background-color: #4285f4;

}

.meal:hover {
  background-color:  #2467d6;
}
.workout:hover {
  background-color:  #2467d6;
}
.workout {
	margin-top: 100px;
  display: block;
  margin-left: 100px;

  text-decoration: none;
  color: white;
  width: 100px;
  height: 100px;
  background-color: #4285f4;
}

.calorie {
  margin-top: 100px;
  display: block;
  margin-left: 100px;

  text-decoration: none;
  color: white;
  width: 100px;
  height: 100px;
  background-color: #4285f4;
  display: inline-block;
}

.calorie:hover {
  background-color:  #2467d6;
}

button {
  text-decoration: none;
  display: block;
  background-color: #4285f4;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;

}

img {
  float: right;
  margin-top: 50px;
  padding-right: 500px;
}

iframe {
align-content: center;
height:300px;
width: 400px;
margin-left:500px;
margin-right: 300px;
  margin-top: 130px;

}

p {
  font-weight: bold;
  font-size: 2.5em;
  text-align: right;
  margin-right: 300px;
  color: #4285f4;
  margin-top: -50px;
}

a {
	text-decoration: none;
}
