h1 {
  font-size: 50px;
  width: 600px;
}

h2 {
  width: 500px;
  padding-top: 5px;
  margin-left: 0px;
  font-size: 30px;
}

.herobutton {
  height: 40px;
	border: none;
  border-radius: 4px;
	background-color: #4285f4;
	margin: -10px 0px 0px 168px;
	color: white;
  font-size: 16px;
  padding: 0px 10px;
}

.herobutton:hover {
  background-color: #2467d6;
}

.heroimage {
  background: url(hpgym.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  position: relative;
}

.herotext {
  text-align: left;
  position: absolute;
  margin-top: 105px;
  margin-left: 250px;
  /* width: 600px; */
  /* transform: translate(-50%, -50%); */
  color: white;/* #4285f4 #d2e3fc;*/
}

.header {
  padding: 70px;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px #0000B3, 0 0 5px #0000B3;
  font-size: 30px;
}

.article {
  margin: auto;
  padding: 0px 200px;
  color: #565a5c;
  margin-top: 80px;
}

.articleright {
  float: right;
}

.articletxt {
  width: 70%;
  display: inline-block;
  background-color: #fbfbfc;
  border: 1px solid #fbfbfc;
  padding: 20px;
	border-radius: 10px;
}

h3 {
  font-size: 44px;
  margin-top: 0px;
}

p {
  font-size: 24px;
}

.articleimg {
  transition: transform .2s;
  display: inline-block;
}

.articleimg:hover {
  transform: scale(1.03);
}

.articleimg1 a {
  height: 292px;
  width: 250px;
  background: url(squatrack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}

.articleimg2 a {
  height: 374px;
  width: 250px;
  background: url(colorfood.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-bottom: 40px;
  border-radius: 5px;
}
