body {
  background-color: #fbfbfc;
  background-image: url("gym.png");
  background-repeat: none;
  background-size: 1600px, 800px;
}

.searchbar {
  width: 100%;
  font-size: 2em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  width: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: #2467d6;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4285f4;
  color: white;
}


.header {
  padding: 70px;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px #0000B3, 0 0 5px #0000B3;
  font-size: 30px;
}
