html * {
  box-sizing: border-box;
  font-family: "Raleway", "Quicksand", helvetica, sans-serif;
}

body {
  margin: 0;
}

.searchbar {
  width: 100%;
  font-size: 2em;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e7e2f2;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: #4285f4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: #2467d6;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4285f4;
  color: white;
}

ul.topnav {
  position: fixed;
  top: 0;
  width: 100%;
}

/*  */

/* ul.navmid {

} */

a.navleft {
  padding: 14px 20px 14px 20px;
}

.navleft {
  float: left;
  display: inline-block;
}

.navmid {
  margin: auto;
  display: inline-block;
  padding-left: 290px;
}

.navmid li{
  display: inline-block;
  padding-left: 20px;
}

.navright {
  margin-top: 3px;
  margin-right: 20px;
  float: right;
  display: inline-block;
  background-color: white;
  border: none;
}

rect {
  fill: #4285f4;
}

button:focus {
  border: none;
}

button:hover {
  border: none;
}

button {
  border: none;
}

#rect1:hover, #rect2:hover, #rect3:hover{
  fill: #2467d6;
}
