body {

  font-family: "Raleway", "Quicksand", helvetica, sans-serif;
  font-size: 20px;
  margin: 30px 88px 80px 88px;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: #fcfdfd;  /* #fcfdfd #f1f3f8 #ffffe7 EBF0F6 f5f1da  22272  134510  39112*/
}

h1 {
  text-align: center;
}

li.page {
  margin: 8px;
}

.picture {
  text-align: right;
}

img {
  border-radius: 10%;
  border: 4px solid #d6e0f0;
}

p.slogan {
  padding-left: 140px;
  text-align: center;
  font: initial;
  color:#0f3057;
  font-weight: bolder;
}

h2 {
  text-decoration: underline;
  font-weight: bold;
  margin: 0;
  padding-top: 40px;
}

h3 {
  display: inline;
  margin: 0;
}

ul {
  display: inline;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  width: calc(100% - 250px);
  margin: 0;
}
.team {
  text-align: center
}

.page {
display: inline-block;
margin: 100px;

}
.title {
  font-weight: bold;
  display: inline;
}

.skilltitle {
  font-weight: bold;
}

.contact {
  text-align: center;
  margin: 0 0 16px 0;
  padding: 0;
  font-variant: small-caps;
}

.left{
  float: left;
  padding: 0;
  margin: 0;
}

.skill{
  float: left;
  padding: 0 30px 0 50px;
  margin: 0;
}

.right{
  float: right;
  margin: 0;
}

/* .row {
  padding: 0 0 32px 0;
} */

.row:after{
  content: "";
  display: block;
  clear: both;
}

.location {
  display: inline;
  margin-left: -5px;
}

.dots{
  margin: 0;
  width: 900px;
  list-style-type: disc;
  margin-left: 50px;
}

/* .objective {
  padding: 0 0 32px 0;
} */

.position {
  padding-left: 30px;
}

.pictures{
  display: inline-block;
  margin: 25px;
}

.bottomind{
  padding: 0 0 32px 0;
}

.bottomind:after{
  content: "";
  display: block;
  clear: both;
}

a:link {
  color: #8d93ab;
  text-decoration: none;
}

a:visited {
  color: #8d93ab;
  text-decoration: none;
}

a:hover {
  color: #0f3057;
  text-decoration: none;
}